body {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    line-height: 1.5;
    color: rgb(15 23 42);
    margin: 0;
}

.page-background {
    background-image: linear-gradient(to right, rgb(254 202 202), rgb(254 240 138));
    min-height: 100vh;
}

.mark {
    background-color: rgba(255, 0, 0, 0.23);
}

.snippet-block {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* Scala picker styles */
.scala-picker-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 1.875rem;
    line-height: 1.1;
    place-content: center;
}

.scala-version-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    margin: 0.125rem;
    border: 2px solid rgb(100 116 139);
    padding: 0.25rem 0.75rem;
    border-radius: 0.375rem;
    cursor: pointer;
}

.scala-version-selected {
    background-color: rgb(190 18 60);
    color: rgb(255 255 255);
    border: 2px solid rgb(136 19 55);
}

/* Main page layout */
.main-content-container {
    margin-left: auto;
    margin-right: auto;
    width: 83.333333%;
    background-color: rgb(255 255 255 / 0.7);
    padding: 1.5rem;
    border-radius: 0.5rem;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.code-input-row {
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

@media (min-width: 768px) {
    .code-input-row {
        flex-direction: row;
    }
}

.code-input-column {
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 0.5rem;
    flex-grow: 0;
}

@media (max-width: 639px) {
    .code-input-column {
        width: 100%;
    }
}

.code-input-header {
    font-weight: 700;
}

.code-input-description {
}

.code-textarea {
    width: 100%;
    border: 2px solid rgb(148 163 184);
    padding: 0.5rem;
}

.submit-button {
    background-color: rgb(2 132 199);
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
    padding: 0.5rem;
    color: rgb(255 255 255);
    border: none;
    cursor: pointer;
}

.submit-button:hover {
    background-color: rgb(3 105 161);
}

.code-preview-container {
    white-space: pre-line;
    border-radius: 0.375rem;
    padding: 1rem;
}

/* Links */
.basic-link,
.basic-link:visited {
    color: rgb(79 70 229);
    text-decoration: underline;
}

.basic-link:hover {
    text-decoration: none;
}

/* Header */
.main-title {
    font-size: 3.75rem;
    line-height: 1;
}

.main-title,
.main-title:visited,
.main-title a,
.main-title a:visited {
    color: inherit;
    text-decoration: none;
}

.header-description {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

/* Footer */
.footer-container {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

/* Static code snippets */
.snippet-controls {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.snippet-version-display {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
}

.snippet-code-row {
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

@media (min-width: 1024px) {
    .snippet-code-row {
        flex-direction: row;
    }
}

.snippet-code-column {
    flex: 1 1 0%;
    width: 50%;
}

@media (max-width: 767px) {
    .snippet-code-column {
        width: 100%;
    }
}

/* Error list */
.error-list {
    padding-left: 1rem;
}

.error-list-item {
    list-style-type: disc;
    margin: 0.5rem;
}

.msg-info {
    background-color: rgb(110 231 183);
    border: 2px solid rgb(6 95 70);
    padding: 0.5rem;
}

.msg-error {
    background-color: rgb(253 164 175);
    border: 2px solid rgb(159 18 57);
    padding: 0.5rem;
}

p.error-details {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

span.error-tag {
    background-color: rgb(254 240 138);
    padding: 0.25rem;
    border-radius: 0.375rem;
}

span.error-symbol {
    background-color: rgb(186 230 253);
    padding: 0.25rem;
    border-radius: 0.375rem;
}

p.error-message {}

p.snippet-code-title {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

code.static-code-block {
    background-color: rgb(255 255 255);
    padding: 0.5rem;
    border-radius: 0.375rem;
    border: 2px solid rgb(148 163 184);
}

.comparison-page {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.error-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
